a {
  font-family: Lato, sans-serif;
  color: #6995c9;
  text-decoration: none;
}

a:hover {
  color: white;
  font-weight: bold;
}

a:active {
  color: #888888;
  font-weight: bold;
}

a.navigation-link {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

.fund {
  width: 50px;
  margin: 10px;
}
