body {
  background: url(../assets/landing.jpg) no-repeat center center fixed;
  background-size: cover;
}

.below-header {
  display: flex;
  flex-direction: row;
  height: 630px;
}

.login-container {
  width: 35%;
  height: 100%;
  padding: 5%;
}

h2 {
  color: #6995c9;
}

a {
  font-family: 'Lato', sans-serif;
  color: #6995c9;
}

a.navigation-link {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}
