body {
  background: url(../assets/landing.jpg) no-repeat center center fixed ;
  background-size: cover;
}

.below-header {
  display: flex;
  flex-direction: row;
  height: 630px;
}

.login-container {
  width: 35%;
  height: 100%;
  padding: 5%;
}

h2 {
  color: #6995c9;
}
/*.satori-container {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.satori-box {
  width: 65%;
  height: 65%;
  background-color: rgba(25, 25, 112, 0.8);
}*/
