body {
  background: url(../assets/landing.jpg) no-repeat center center fixed;
  font-family: 'Lato', sans-serif;
}
.satori-container {
  width: 90%;
  margin: 100px auto auto auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.box {
  width: 280px;
  height: 300px;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  border: 0.5px solid #aaa;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333f51;
}

a {
  font-family: 'Lato', sans-serif;
  color: #6995c9;
}

a.navigation-link {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

.credit-satori {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #333f51;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  margin: 0 auto 0 auto;
  width: 15%;
  text-align: center;
  border-radius: 3px;
}
