<!doctype html>
<html>
<head>
  <title>CoinAlpha</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
  <link rel="icon" href="http://www.clker.com/cliparts/F/a/x/p/M/b/alpha-hi.png">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body style="margin:0">
<div class="container">
