<!doctype html>
<html>
<head>
  <title>CoinAlpha</title>
  <link rel="icon" href="http://www.clker.com/cliparts/F/a/x/p/M/b/alpha-hi.png">
  <link rel="stylesheet" href="css/Landing.css">
</head>
<body style="margin:0">
<div class="container">
  <div id='landing'></div>
  <script src="/dist/bundle.js"></script>

<% include foot.ejs%>
