.container-port {

}

.table-top-spacing {
  margin-top: 5vh;
}

.item-spacing {
  padding-right: 6vh;
}

.subscription-text {
  font-size: 1rem;
  font-family: sans-serif;
}
/*'Lato', sans-serif*/
.outstanding-subscription {
  padding-left: 1rem;
}

.text-box {
  width: 20vh;
}
.subscription-box {
  width: 80%;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  margin:  1vh;
}

.holding-container {
  background-color: lightgrey;
  width: 80%;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 1vh;
}

.holding-title-text {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: bold;
}

.holding-title-text-spacing {
  padding-right: 1vh;
  padding-bottom: 1vh;
}

.button {
  background-color: #888888;
  color: white;
}

.item-one {
  /*margin: 1px auto;*/
}